:root,
page {
  --bg-100: #ffffff;
  // 按钮主题色
  --wot-color-theme: #50aa46;
}

// 浅色主题
.bg-page {
  background:
    linear-gradient(to bottom, transparent, #fff 400rpx),
    linear-gradient(to right, #beecd8 20%, #f4e2d8);
}

// 深色主题
.dark {
  --bg-100: #0a0a0a;
  .bg-page {
    background: transparent;
  }
}
